.Footer {
    border-top: 1px solid;
    padding: 20px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
}